h1,
h6 {
  display: inline-block;
}
h6 {
  padding-left: 40px;
}

h1 {
  padding-left: 20px;
}

header {
  background-color: grey;
  color: white;
}

main > * {
  padding: 20px;
}

img {
  width: 500px;
  height: 300px;
}

.left {
  padding-right: 20px;
}

.column {
  width: 60%;
}

.side {
  width: 35%;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav {
  position: sticky;
  left: 0;
  top: 0;
}

img {
  border: 1px solid gray;
}
